.map-banner-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
}

.slider-track {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.slider-track a {
  flex: 0 0 400px;
  margin: 0 5px;
}

.slider-track a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: filter 0.5s ease, transform 0.5s ease;
  transform: scale(1);
}

.slider-track a.active img {
  filter: none;
  transform: scale(1.05);
  border-radius: 20px
}

#sliderClone {
  pointer-events: none;
  position: absolute;
  top: 0;
}



